<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
</head>
<body>
<h1>Bosh sahifaga xush kelibsiz</h1>
<hr>
<a href="/talabalar/">Talabalar</a>
<a href="/mualliflar/">Mualliflar</a>
<a href="/kitoblar/">Kitoblar</a>
<a href="">Kutubxonachilar</a>
<a href="/recordlar/">Recordlar</a>
<a href="/tirik_mualliflar/">Tirik mualliflar</a>
<a href="/katta_kitoblar/">Katta kitoblar</a>
<a href="/kitobi_kop_mualliflar/">Eng kitobi ko'p mualliflar</a>
<a href="/kitobi_kop_mualliflar/">Eng kitobi ko'p mualliflar</a>
<a href="/recordlarning_eng_oxirgilari/">Eng oxirgi uchta recordlar</a>
<a href="/tirik_mualliflar_kitoblari/">Tirik mualliflar kitoblari</a>
<a href="/badiiy_kitoblar/">Badiiy kitoblar</a>
<a href="/yoshi_katta_mualliflar/">Yoshi katta mualliflar</a>
<a href="/kitobi_kam_mualliflar/">Kitoblari soni kam mualliflar</a>
<a href="/bitiruvchi_student_recordlari/">Bitiruvchi studentlar recordlari</a>
</body>
</html>