<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxonachi | tahrirlash</title>
</head>
<body>
<p>{{ kutubxonachi.ism }} ma'lumotlarini tahrirlash</p>
<hr>
<form method="post">
    {% csrf_token %}
    <label>Ism:</label>
    <input type="text" name="ism" value="{{ kutubxonachi.ism }}" required>
    <br><br>
    <label>Ish vaqti:</label>
    <select name="ish_vaqti">
        <option>{{ kutubxonachi.ish_vaqti }}</option>
        <option>{{ ish_vaqt }}</option>
    </select>
    <br><br>
    <button>Tasdiqlash</button>
</form>
</body>
</html>