<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mualliflar ro'yxati</title>
</head>
<body>
<h1>Mualliflar sahifasi</h1>
<a href="/">Bosh sahifaga qaytish</a>
<hr>
<a href="/muallif/qoshish/">
    <button>
        Yangi muallif qo'shish
    </button>
</a>
<hr>
{% for muallif in mualliflar %}
<p>{{ forloop.counter }}.
    <a href="{{ muallif.id }}"> {{ muallif.ism }} </a>
    <a href="/mualliflar/{{ muallif.id }}/o'chirish/tasdiqlash/">
        <button>O'chirish</button>
    </a>
    <a href="/mualliflar/{{ muallif.id }}/tahrirlash/">
        <button>Tahrirlash</button>
    </a>
</p>
{% endfor %}
</body>
</html>