<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Record qoshish</title>
</head>
<body>
<h1>Yangi record qoshish</h1>
<hr>
<form method="post">
  {% csrf_token %}
  <label>Talaba:</label>
  <select name="talaba_id">
    {% for talaba in talabalar %}
    <option value="{{ talaba.id }}">{{ talaba.ism }}</option>
    {% endfor %}
  </select>
  <br><br>
  <label>Kitob:</label>
  <select name="kitob_id">
    {% for kitob in kitoblar %}
      <option value="{{ kitob.id }}">{{ kitob.nom }}</option>
    {% endfor %}
  </select>
  <br><br>
  <label>Kutubxonachi:</label>
  <select name="kutubxonachi_id">
    {% for kutubxonachi in kutubxonachilar %}
      <option value="{{ kutubxonachi.id }}">{{ kutubxonachi.ism }}</option>
    {% endfor %}
  </select>
  <br><br>
  <label>Qaytarilgan sana:</label>
  <input type="datetime-local" name="qaytarilgan_sana">
  <br><br>
  <label>Qaytarilgan</label>
  <input type="checkbox">
  <br>
  <button>Ma'lumotlarni kiritish</button>
</form>
</body>
</html>